<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>게시판</title>
		<link rel="stylesheet" href="/css/board.css">
		<script src="/js/jquery/jquery-3.7.1.min.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header-content">
					<div class="logo">
						<h1><a th:href="@{/board/list}" class="board-logo">My Board</span> </a></h1>
						<h1 th:text="${pageContent}"></h1>
					</div>
					<div class="user-info">
						<span sec:authorize="isAuthenticated()"> <!--로그인 여부 체크-->
							<span th:text="'Welcome, ' + ${#authentication.name}"></span>
							<a th:href="@{/logout}">로그아웃</a>
						</span>
						<span sec:authorize="!isAuthenticated()">
							<a th:href="@{/member/login}">로그인</a>
						</span>
					</div>
				</div>
			</div>
		</header>
		<!-- content 위치-->
		<main layout:fragment="content">
			<p>no content</p>
		</main>
		<!--// content 위치 //-->
		<th:block th:if="${pageTitle != null}">
			<script th:if="${pageTitle == 'postForm'}" th:src="@{/js/page/{pageTitle}.js(pageTitle=${pageTitle})}"></script>
			<script th:if="${pageTitle == 'postDetail'}" th:src="@{/js/page/{pageTitle}.js(pageTitle=${pageTitle})}"></script>
		</th:block>
	</body>
</html>